In [1]:
sale = (80, 60, 20, 50, 70)
sale

(80, 60, 20, 50, 70)

In [2]:
sale = ()
sale

()

In [3]:
t1,t2,t3 = 1, 2, 3
type(t1)

int

In [4]:
t = 1,2,3
t

(1, 2, 3)

In [5]:
t = tuple([80, 60, 20, 50, 70])
t

(80, 60, 20, 50, 70)

In [6]:
t = tuple()
t

()

# リストからタプルを作成

In [7]:
t = tuple([80, 60, 20, 50, 70])
t[0]

80

In [8]:
t[:3]

(80, 60, 20)

In [33]:
sale = dict(東京=80, 名古屋=60, 京都=22, 大阪=50, 福岡=75)
sale

{'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75}

In [37]:
t = (3,)
type(t)

tuple