# ディクショナリー

In [5]:
sale = {}
sale

{}

In [9]:
sale = {"東京":80, "名古屋":60, "京都":22, "大阪":50, "福岡":75}
k = input("どの支店のデータを表示しますか")
print(k, "のデータは", sale[k], "です")

どの支店のデータを表示しますか京都
京都 のデータは 22 です

In [10]:
sale = {"東京":80, "名古屋":60, "京都":22, "大阪":50, "福岡":75}
k = input("どの支店のデータを表示しますか")
if k in sale:
    print(k, "のデータは", sale[k], "です")
else:
    print(k, "のデータは見つかりませんでした")

どの支店のデータを表示しますか青森
青森 のデータは見つかりませんでした

In [16]:
data = [1, 2, 3, 4, 5]
data

[1, 2, 3, 4, 5]

# データが0や空であるかを調べる

In [26]:
any(data)

True

In [18]:
all(data)

True

In [19]:
data = [0, 1, 2, 3, 4, 5]
all(data)

False

In [21]:
data = [0, 1, 2, 3, 4, 5]
any(data)

True

# ディクショナリを操作する

In [25]:
sale = {"東京":80, "名古屋":60, "京都":22, "大阪":50, "福岡":75}
print("現在のデータは", sale, "です")

k = input("追加するデータを入力してください")
if k in sale:
    print(k, "のデータはすでに存在しています")
    
else:
    d = int(input("追加するデータを入力してください"))
    sale[k] = d
    print(k, "のデータとして", sale[k], "を追加しました")
print("現在のデータは", sale[k], "です")

k = input("どのキーのデータを変更しますか")
if k in sale:
    print(k, "のデータは", sale[k], "です")
    d = int(input("dデータを入力してください"))
    print(k, "のデータは", sale[k], "です")
else:
    print("現在のデータは見つかりませんでした")
print("現在のデータは", sale, "です")

k = input("どのキーのデータを削除しますか")
if k in sale:
    print(k, "のデータは", sale[k], "です")
    del sale[k]
    print("データを削除しました")
else:
    print(k, "のデータは見つかりませんでした")
    
print("現在のデータは", sale, "です")

現在のデータは {'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75} です
追加するデータを入力してください京都
京都 のデータはすでに存在しています
現在のデータは 22 です
どのキーのデータを変更しますか福岡
福岡 のデータは 75 です
dデータを入力してください62
福岡 のデータは 75 です
現在のデータは {'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75} です
どのキーのデータを削除しますか名古屋
名古屋 のデータは 60 です
データを削除しました
現在のデータは {'東京': 80, '京都': 22, '大阪': 50, '福岡': 75} です

In [31]:
sale = {"東京":80, "名古屋":60, "京都":22, "大阪":50, "福岡":75}
print("現在のデータは", sale, "です")

print("キーを表示します")
for k in sale.keys():
    print(k, end="\t")
print()

print("値を表示します")
for v in sale.values():
    print(v, end="\t")
print()

print("キーの値を表示します")

for i in sale.items():
    print(i, end="")
print()

現在のデータは {'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75} です
キーを表示します
東京	名古屋	京都	大阪	福岡
値を表示します
80	60	22	50	75
キーの値を表示します
('東京', 80)('名古屋', 60)('京都', 22)('大阪', 50)('福岡', 75)

In [50]:
sale1 = {"東京":80, "名古屋":60, "京都":22}
sale2 = {"京都":100, "大阪":50, "福岡":75}

print("1のデータは", sale1, "です")
print("2のデータは", sale2, "です")

print("1を2で変更します")
sale1.update(sale2)
print("1のデータは", sale1, "です")

1のデータは {'東京': 80, '名古屋': 60, '京都': 22} です
2のデータは {'京都': 100, '大阪': 50, '福岡': 75} です
1を2で変更します
1のデータは {'東京': 80, '名古屋': 60, '京都': 100, '大阪': 50, '福岡': 75} です

In [52]:
d

defaultdict(list,
            {'東京': [80], '名古屋': [60], '京都': [22, 100], '大阪': [50], '福岡': [75]})

In [ ]:
 
from collections import defaultdict
d = defaultdict(set)
 
sale1 = {"東京":80, "名古屋":60, "京都":22}
sale2 = {"京都":100, "大阪":50, "福岡":75}
 
print("1のデータは", sale1, "です。")
print("2のデータは", sale2, "です。")
 
for k, v in sale1.items():
    d[k].add(v)
 
for k, v in sale2.items():
    d[k].add(v)
 
print("京都のデータは", d['京都'], "です。")

In [53]:
d

defaultdict(list,
            {'東京': [80], '名古屋': [60], '京都': [22, 100], '大阪': [50], '福岡': [75]})

# その他のディクショナリの作成方法

In [36]:
sale = dict(東京=80, 名古屋=60, 京都=22, 大阪=50, 福岡=75)
sale

{'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75}

In [45]:
t = tuple([80, 60, 20, 50, 70]) #リストからタプルを作る
type(t)

tuple

In [44]:
sale = dict((("東京",80), ("名古屋",60), ("京都",22), ("大阪",50), ("福岡",75))) #
type(sale)

dict

In [46]:
sale = dict({"東京":80, "名古屋":60, "京都":22, "大阪":50, "福岡":75}) #ディクショナリからディクショナリを作る