# リスト内表記（コンプリヘンション）

In [8]:
ata = [1,2,3,4,5]
print("現在のデータは", data, "です" )

ndata = [n*2 for n in data if n!=3]
print("新しいデータは", ndata, "です")

現在のデータは [1, 2, 3, 4, 5] です
新しいデータは [2, 4, 8, 10] です

In [6]:
ndata = []
for n in data:
    if n != 3:
        ndata.append(n*2)
ndata
# 上記のほうが早く処理される

[2, 4, 8, 10]

# リストの集計と並べ替え

In [12]:
sale =[ 80, 60, 22, 50, 75]
print("現在のデータは", sale, "です")

print("最大のデータは", max(sale), "です")
print("最小のデータは", min(sale), "です")

print("データの合計は", sum(sale), "です")
print("データの平均は", sum(sale)/len(sale), "です")
print("ソートされたエータは", sorted(sale), "です")
print("ソートされたデータは", sorted(sale, reverse=True), "です")

現在のデータは [80, 60, 22, 50, 75] です
最大のデータは 80 です
最小のデータは 22 です
データの合計は 287 です
データの平均は 57.4 です
ソートされたエータは [22, 50, 60, 75, 80] です
ソートされたデータは [80, 75, 60, 50, 22] です

# 多次元リスト

In [16]:
data = [
    ["東京", 32, 25],
    ["名古屋", 28, 21],
    ["大阪", 27, 20],
    ["京都", 26, 19],
    ["福岡", 27, 22],
]

print("現在のデータは", data, "です")

for dat in data:
    print("都市別データは", dat, "です")
    for d in dat:
        print(d, end="\t")
    print()

print(data[0][0], "の最高気温は", data[0][1], "最低気温は", data[0][2], "です")

現在のデータは [['東京', 32, 25], ['名古屋', 28, 21], ['大阪', 27, 20], ['京都', 26, 19], ['福岡', 27, 22]] です
都市別データは ['東京', 32, 25] です
東京	32	25
都市別データは ['名古屋', 28, 21] です
名古屋	28	21
都市別データは ['大阪', 27, 20] です
大阪	27	20
都市別データは ['京都', 26, 19] です
京都	26	19
都市別データは ['福岡', 27, 22] です
福岡	27	22
東京 の最高気温は 32 最低気温は 25 です

In [18]:
data

[['東京', 32, 25],
 ['名古屋', 28, 21],
 ['大阪', 27, 20],
 ['京都', 26, 19],
 ['福岡', 27, 22]]

In [19]:
data[0]

['東京', 32, 25]

In [20]:
data[0][1]

32

In [21]:
data[0][2]

25

In [22]:
data[1]

['名古屋', 28, 21]

# 練習問題

In [2]:
data = [74, 85, 69, 77, 81]
print("テストの点は[74, 85, 69, 77.81]")
print("最高点は", max(data), "です")
print("最低点は", min(data), "です")
print("平均点は", sum(data)/len(data), "です")

テストの点は[74, 85, 69, 77.81]
最高点は 85 です
最低点は 69 です
平均点は 77.2 です

In [3]:
data = [74, 85, 69, 77, 81]
print("テストの点は", data, "です")
print("昇順は", sorted(data, reverse=False), "です")
print("降順は", sorted(data, reverse=True), "です")

テストの点は[74, 85, 69, 77, 81]です
昇順は [69, 74, 77, 81, 85] です
降順は [85, 81, 77, 74, 69] です

In [4]:
data = [74, 85, 69, 77, 81]
print("テストの点は[74, 85, 69, 77, 81]です")

score = [n for n in data if n >= 80]

print("80点以上は", score, "です")
print("80点以上の人数は", len(score), "です")

テストの点は[74, 85, 69, 77, 81]です
80点以上は [85, 81] です
80点以上の人数は 2 です

In [5]:
city = ["東京", "名古屋", "大阪", "京都", "福岡"]
maxt = [32, 28, 27, 26, 27]
mint = [25, 21, 20, 19, 22]

print("都市名のデータは", city, "です")
print("最高気温のデータは", maxt, "です")
print("最低気温のデータは", mint, "です")

for c, x, i in zip(city, maxt, mint):
        print(c, "の最高気温は", "x", "最低気温は", i, "です")

都市名のデータは ['東京', '名古屋', '大阪', '京都', '福岡'] です
最高気温のデータは [32, 28, 27, 26, 27] です
最低気温のデータは [25, 21, 20, 19, 22] です
東京 の最高気温は x 最低気温は 25 です
名古屋 の最高気温は x 最低気温は 21 です
大阪 の最高気温は x 最低気温は 20 です
京都 の最高気温は x 最低気温は 19 です
福岡 の最高気温は x 最低気温は 22 です