# リストの連結

In [1]:
sale1 = [1, 2, 3, 4, 5, 6]
print("上半期のデータは", sale1, "です")

sale2 = [7, 8, 9, 10, 11, 12]
print("下半期のデータは", sale2, "です")

ysale = sale1 + sale2

print("年間のデータは", ysale, "です")

上半期のデータは [1, 2, 3, 4, 5, 6] です
下半期のデータは [7, 8, 9, 10, 11, 12] です
年間のデータは [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] です

# リストを拡張する extend()

In [2]:
sale1 = [1, 2, 3, 4, 5, 6]
sale2 = [7, 8, 9, 10, 11, 12]
sale1.extend(sale2)
sale1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [3]:
sale1 = [1, 2, 3, 4, 5, 6]
sale2 = [7, 8, 9, 10, 11, 12]
sale1+= sale2
sale1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [4]:
sale1 = [1, 2, 3, 4, 5, 6]
sale2 = [7, 8, 9, 10, 11, 12]
sale1.append(sale2)
sale1

[1, 2, 3, 4, 5, 6, [7, 8, 9, 10, 11, 12]]

In [5]:
sale1[6]

[7, 8, 9, 10, 11, 12]

# 機械学習のarray：ベクトル計算とは異なる

In [6]:
import numpy as np
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
a + b

array([5, 7, 9])

In [7]:
ysale

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

# スライス

In [8]:
# [開始: 停止: 間隔]
ysale[0:6] #インデックスが0～5の要素を指定

[1, 2, 3, 4, 5, 6]

In [9]:
ysale[6:] # インデックスが6以降の要素の指定

[7, 8, 9, 10, 11, 12]

In [10]:
ysale[::2]

[1, 3, 5, 7, 9, 11]

In [11]:
ysale[::-1]

[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [13]:
ysale = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
print("年間データは", ysale, "です")

sale1 = ysale[0:6]
print("上半期のデータは", sale1, "です")

sale2 = ysale[6:]
print("下半期のデータは", sale2, "です")

sale3 = ysale[::2]
print("1か月おきのデータは", sale3, "です")

sale4 = ysale[::-1]
print("逆順のデータは", sale4, "です")

print("年間データは", ysale, "です")
print("上半期のデータを差し替えます")
ysale[:6] = [0, 0, 0, 0, 0, 0]

print("年間データは", ysale,"です")

年間データは [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] です
上半期のデータは [1, 2, 3, 4, 5, 6] です
下半期のデータは [7, 8, 9, 10, 11, 12] です
1か月おきのデータは [1, 3, 5, 7, 9, 11] です
逆順のデータは [12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1] です
年間データは [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] です
上半期のデータを差し替えます
年間データは [0, 0, 0, 0, 0, 0, 7, 8, 9, 10, 11, 12] です

In [18]:
ysale = list(range(1,13))
print("年間データは", ysale, "です")
ysale[:6] = [0, 0, 0, 0, 0, 0]
print("年間データは", ysale, "です")

年間データは [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] です
年間データは [0, 0, 0, 0, 0, 0, 7, 8, 9, 10, 11, 12] です

# リストを逆順にする

In [21]:
data = [1,2,3,4,5]
print("現在のデータは", data, "です")

print("data[::-1]をfor文で処理します")
for d in data[::-1]:
    print(d)
print("data[::-1]は", data[::-1], "です")　# 現在のデータは変更されない

print("現在のデータは", data, "です")
print("reversed(data)をfor文で処理します")
for d in reversed(data):
    print(d)
print("reversed(data)は", reversed(data), "です") # 現在のデータは変更されない

print("現在のデータは", data, "です")
print("data.reverse()を処理します")　
data.reverse() #現在のデータ自体を逆順にする
print("現在のデータは", data, "です")

現在のデータは [1, 2, 3, 4, 5] です
data[::-1]をfor文で処理します
5
4
3
2
1
data[::-1]は [5, 4, 3, 2, 1] です
現在のデータは [1, 2, 3, 4, 5] です
reversed(data)をfor文で処理します
5
4
3
2
1
reversed(data)は <list_reverseiterator object at 0x7f66bc701a90> です
現在のデータは [1, 2, 3, 4, 5] です
data.reverse()を処理します
現在のデータは [5, 4, 3, 2, 1] です

# イテレータ　値を繰り返し順番に取り出す＊最後までいくとエラーになる

In [24]:
data = [1,2,3,4,5]
it = iter(data)

In [36]:
next(it)

StopIteration:

In [37]:
rv =  reversed(data)

In [40]:
next(rv)

3

# リストの要素の組み合わせ

In [41]:
city = ["東京", "名古屋", "大阪", "京都"]
sale = [80, 60, 22, 50, 75]

print("都市データは", city, "です")
print("売上データは", sale, "です")

print("データを組み込みあわせます")

for d in zip(city, sale):
    print(d)
    
print("データとインデックスを組み合わせます")
for d in enumerate(city):
    print(d)

都市データは ['東京', '名古屋', '大阪', '京都'] です
売上データは [80, 60, 22, 50, 75] です
データを組み込みます
('東京', 80)
('名古屋', 60)
('大阪', 22)
('京都', 50)
データとインデックスを組み合わせます
(0, '東京')
(1, '名古屋')
(2, '大阪')
(3, '京都')

In [42]:
type(d)

tuple

In [45]:
city = ["東京", "名古屋", "大阪", "京都"]
sale = [80, 60, 22, 50, 75]

print("都市データは", city, "です")
print("売上データは", sale, "です")

print("データを組み込みあわせます")

for d in zip(city, sale):
    print(d)
    
print("データを分解します")
for c, s in zip(city, sale):
    print("都市名は", c, "売り上げは", s)

都市データは ['東京', '名古屋', '大阪', '京都'] です
売上データは [80, 60, 22, 50, 75] です
データを組み込みあわせます
('東京', 80)
('名古屋', 60)
('大阪', 22)
('京都', 50)
データを分解します
都市名は 東京 売り上げは 80
都市名は 名古屋 売り上げは 60
都市名は 大阪 売り上げは 22
都市名は 京都 売り上げは 50

In [46]:
data =[1,2,3]
d1, d2, d3 = data

In [3]:
data =[1,2,3]
d1, d2, d3 = data
d1

1

In [47]:
data

[1, 2, 3]

In [48]:
d1, d2, d3 = 'a', 'b','c'

In [49]:
print(d1,d2,d3,)

a b c

In [6]:
d1, d2, d3 = 'a', 'b','c'
d1
d2
d3

'c'

In [1]:
data =[1,2,3]
next(data)

TypeError: 'list' object is not an iterator